*.el~
*el
*elc
.DS_Store
.newsrc-dribble
.nnmail-cache
.org-id-locations
.svn
/#.newsrc-dribble#
/.#starter-kit-latex.org
/ac-comphist.dat
/index.org
/src/pandoc/.manual.text.default.pandoc
/src/pandoc/.manual.text.html.pandoc
/src/pandoc/.manual.text.latex.pandoc
/src/pandoc/.manual.text.texinfo.pandoc
/vc-git.awk
\#*
auto-save-list
backups/*
custom.el
doc
elim/
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
eshell/history
eshell/lastdir
eshell/lastdir
image-dired/
loaddefs.el*
oddmuse/*
places
recentf
session*
src/auctex
src/auctex-src/*elc
src/share
src/var
starter-kit*html
thumbs/*
tramp
url/cookies

